In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('./retail_clean.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 779495 entries, 0 to 779494
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   779495 non-null  int64
 1   Invoice      779495 non-null  int64
 2   StockCode    779495 non-null  object
 3   Description  779495 non-null  object
 4   Quantity     779495 non-null  int64
 5   InvoiceDate  779495 non-null  object
 6   Price        779495 non-null  float64
 7   Customer ID  779495 non-null  float64
 8   Country      779495 non-null  object
 9   Revenue      779495 non-null  float64
dtypes: float64(3), int64(3), object(4)
memory usage: 59.5+ MB

In [3]:
df=df.drop_duplicates()
df=df.dropna(axis=0)

In [4]:
df.shape

(779495, 10)

In [5]:
import datetime
df['date']=pd.to_datetime(df['InvoiceDate']).dt.strftime('%Y-%m-%d')
df['date']=pd.to_datetime(df['date'])

In [6]:
df['weekyear']=df['date'].dt.strftime('%W %Y')

In [7]:
weekly_sales=df.groupby(['Description','weekyear']).agg(total_sales=('Quantity','sum'),price=('Price','mean')).reset_index()

In [8]:
keys= weekly_sales.Description.unique()
keys.shape

(5283,)

In [9]:
import inventorize3 as inv
from sklearn.linear_model import LinearRegression

In [10]:
from tqdm import tqdm
import warnings
warnings.filterwarnings('ignore')

In [14]:

empty_data=[]

for key in tqdm(keys):
    try:
        a= weekly_sales[weekly_sales.Description==key]
      
        cost =0.4 *max(a['price'])
        curr_price=a['price'].mean()
        elasticity= inv.linear_elasticity(a['price'],a['total_sales'],curr_price,cost)
        elasticity['sku']=key
        empty_data.append(elasticity)
    except:
        pass

100%|██████████████████████████████████████████████████████████████████████████████| 5283/5283 [01:15<00:00, 69.76it/s]

In [36]:
elas_df=pd.DataFrame(empty_data)

In [37]:
elas_df.head()

,Elasticity,optimum_price_profit,optimum_price_revenue,sku
0,[[0.23619618675243825]],[[18.64737718730144]],[[17.29737718730144]],DOORMAT UNION JACK GUNS AND ROSES
1,[[5.031167073926131]],[[1.9070227964425617]],[[1.3970227964425617]],4 PURPLE FLOCK DINNER CANDLES
2,[[2.3171575208591264]],[[4.362780028444914]],[[3.372780028444914]],FLAMINGO LIGHTS
3,[[9.924641608055682]],[[11.116022012578613]],[[8.126022012578613]],NINE DRAWER OFFICE TIDY
4,[[10.182036370740212]],[[7.3668925975017086]],[[5.376892597501708]],OVAL WALL MIRROR DIAMANTE

In [38]:
def formatCol(x):
    return x[0][0]

In [39]:
elas_df['Elasticity']=elas_df['Elasticity'].apply(formatCol)
elas_df['optimum_price_profit']=elas_df['optimum_price_profit'].apply(formatCol)
elas_df['optimum_price_revenue']=elas_df['optimum_price_revenue'].apply(formatCol)

In [40]:
elas_df

,Elasticity,optimum_price_profit,optimum_price_revenue,sku
0,0.236196,18.647377,17.297377,DOORMAT UNION JACK GUNS AND ROSES
1,5.031167,1.907023,1.397023,4 PURPLE FLOCK DINNER CANDLES
2,2.317158,4.362780,3.372780,FLAMINGO LIGHTS
3,9.924642,11.116022,8.126022,NINE DRAWER OFFICE TIDY
4,10.182036,7.366893,5.376893,OVAL WALL MIRROR DIAMANTE
...,...,...,...,...
1944,0.522260,1.670030,1.404696,ZINC T-LIGHT HOLDER STAR LARGE
1945,6.455125,12.002371,8.612371,ZINC TOP 2 DOOR WOODEN SHELF
1946,0.410898,1.691342,1.469342,ZINC WILLIE WINKIE CANDLE STICK
1947,5.966357,7.613621,5.533621,ZINC WIRE KITCHEN ORGANISER
1948,2.604074,3.198716,2.448716,ZINC WIRE SWEETHEART LETTER TRAY