In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('./retail_clean.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 779495 entries, 0 to 779494
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   779495 non-null  int64
 1   Invoice      779495 non-null  int64
 2   StockCode    779495 non-null  object
 3   Description  779495 non-null  object
 4   Quantity     779495 non-null  int64
 5   InvoiceDate  779495 non-null  object
 6   Price        779495 non-null  float64
 7   Customer ID  779495 non-null  float64
 8   Country      779495 non-null  object
 9   Revenue      779495 non-null  float64
dtypes: float64(3), int64(3), object(4)
memory usage: 59.5+ MB

In [3]:
df=df.drop_duplicates()
df=df.dropna(axis=0)

In [4]:
df.shape

(779495, 10)

In [5]:
import datetime
df['date']=pd.to_datetime(df['InvoiceDate']).dt.strftime('%Y-%m-%d')
df['date']=pd.to_datetime(df['date'])

In [6]:
df['year']=df['date'].dt.year

In [7]:
years_2=df[df['year'].isin([2010,2011])]

In [9]:

total=years_2.groupby(['year','Description']).agg(total_sales=('Quantity','sum'),price=('Price','mean')).reset_index()

In [10]:
expected=total.groupby('Description').agg(expected_demand=('total_sales','mean'),sd=('total_sales','std'),price=('price','mean'))

In [12]:
expected=expected.reset_index()

In [13]:
expected

,Description,expected_demand,sd,price
0,DOORMAT UNION JACK GUNS AND ROSES,167.0,NaN,6.640196
1,3 STRIPEY MICE FELTCRAFT,399.0,NaN,1.941429
2,4 PURPLE FLOCK DINNER CANDLES,162.0,53.740115,2.224286
3,50'S CHRISTMAS GIFT BAG LARGE,1885.0,NaN,1.248073
4,ANIMAL STICKERS,169.0,NaN,0.210000
...,...,...,...,...
5146,ZINC T-LIGHT HOLDER STARS SMALL,4894.0,NaN,0.836975
5147,ZINC TOP 2 DOOR WOODEN SHELF,69.0,84.852814,14.753571
5148,ZINC WILLIE WINKIE CANDLE STICK,2818.0,545.886435,0.860579
5149,ZINC WIRE KITCHEN ORGANISER,25.0,NaN,7.175000
5150,ZINC WIRE SWEETHEART LETTER TRAY,80.0,NaN,3.454000

In [14]:
import numpy as np

In [20]:
def margin_error(df):
    if( pd.isna(df['sd'])):
        a=df['expected_demand']*0.1
    else:
        a=df['sd']
    return a

In [21]:
expected['sd1']=expected.apply(margin_error,axis=1)

In [30]:
expected['cost']=expected['price']*0.6

In [31]:
expected

,Description,expected_demand,sd,price,sd1,cost
0,DOORMAT UNION JACK GUNS AND ROSES,167.0,NaN,6.640196,16.700000,3.984118
1,3 STRIPEY MICE FELTCRAFT,399.0,NaN,1.941429,39.900000,1.164857
2,4 PURPLE FLOCK DINNER CANDLES,162.0,53.740115,2.224286,53.740115,1.334571
3,50'S CHRISTMAS GIFT BAG LARGE,1885.0,NaN,1.248073,188.500000,0.748844
4,ANIMAL STICKERS,169.0,NaN,0.210000,16.900000,0.126000
...,...,...,...,...,...,...
5146,ZINC T-LIGHT HOLDER STARS SMALL,4894.0,NaN,0.836975,489.400000,0.502185
5147,ZINC TOP 2 DOOR WOODEN SHELF,69.0,84.852814,14.753571,84.852814,8.852143
5148,ZINC WILLIE WINKIE CANDLE STICK,2818.0,545.886435,0.860579,545.886435,0.516348
5149,ZINC WIRE KITCHEN ORGANISER,25.0,NaN,7.175000,2.500000,4.305000
5150,ZINC WIRE SWEETHEART LETTER TRAY,80.0,NaN,3.454000,8.000000,2.072400

In [40]:
import inventorize3 as inv
empty_df=[]

In [41]:
for i in range(expected.shape[0]):
    Description,expected_demand,sd,price,sd1,cost=expected.iloc[i]
    a=inv.MPN_singleperiod(expected_demand,sd1,price,cost,0,0)
    a['Desc']=Description
    empty_df.append(a)

In [43]:
final=pd.DataFrame(empty_df)

In [44]:
final

,quantity,demand,sd,unitshort,shortagecost,cost,revenue,profit,soldatfullprice,sold_discount,Desc
0,162.769103,167.0,16.700000,8.990458,59.698406,648.491257,1108.912745,400.723082,158.009542,4.759562,DOORMAT UNION JACK GUNS AND ROSES
1,388.891451,399.0,39.900000,21.480197,41.702268,453.002984,774.630000,279.924748,377.519803,11.371647,3 STRIPEY MICE FELTCRAFT
2,148.385097,162.0,53.740115,28.931034,64.350885,198.030511,360.334286,97.952889,133.068966,15.316131,4 PURPLE FLOCK DINNER CANDLES
3,1837.244071,1885.0,188.500000,101.479125,126.653396,1375.809267,2352.618349,850.155686,1783.520875,53.723196,50'S CHRISTMAS GIFT BAG LARGE
4,164.718434,169.0,16.900000,9.098128,1.910607,20.754523,35.490000,12.824870,159.901872,4.816562,ANIMAL STICKERS
...,...,...,...,...,...,...,...,...,...,...,...
5146,4770.011928,4894.0,489.400000,263.468879,220.516810,2395.427839,4096.154622,1480.209973,4630.531121,139.480807,ZINC T-LIGHT HOLDER STARS SMALL
5147,47.502785,69.0,84.852814,45.680580,673.951697,420.501443,1017.996429,-76.456711,23.319420,24.183365,ZINC TOP 2 DOOR WOODEN SHELF
5148,2679.701253,2818.0,545.886435,293.878397,252.905641,1383.657125,2425.112237,788.549470,2524.121603,155.579650,ZINC WILLIE WINKIE CANDLE STICK
5149,24.366632,25.0,2.500000,1.345877,9.656667,104.898352,179.375000,64.819981,23.654123,0.712509,ZINC WIRE KITCHEN ORGANISER
5150,77.973223,80.0,8.000000,4.306806,14.875709,161.591708,276.320000,99.852583,75.693194,2.280030,ZINC WIRE SWEETHEART LETTER TRAY